.over-flow{
    overflow: auto;
    zoom: 1;
}
.etabs-tabgroup {
    position: relative;

    width: 100%;
    height: 49px;
}
.etabs-tabgroup img {
    position: absolute;
    top:8px;
    left: 12px;
}
.etabs-tabs{
    margin-left: 63px;
}
.etabs-tab{
    margin: 9px 3px 0 0;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
}
.content{
    position: relative;
}
.nav{
    position: absolute;
    top:22px;
    left: 20%;
}
.radius{
    display: block;
    float: left;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e5e5e5;
    margin: 0 53px 14px 53px;
}
.cats img{
    margin:5px 0 0 5px;
}
.icon img{
    margin:5px 0 0 8px;
    width: 37px;
    height: 39px;
}


